/* body{ background-color:red;} */
/* Navigation  */
#navbar{
    flex-direction: column;
    width: 750px;
    height: 150px;
}
#navbar ul li a{
    padding: 3px 18px;
    font-size: 18px;
}
#logo1 img{
    margin: 20px 0px;
}





/* Home section  */
#home{
    margin: 0px;
    height: 325px;
    width: 380px;
}
#home::before{
    /* width: 500px; */
    width: 236%;
    height: 75%;
    opacity: 0.85;
    z-index: -1;
    
}
#home p{
    
}
#home h1{
    
}





/* services section  */
#services-container{
    margin: 191px 1px 1px 1px;

}
#services{
    flex-direction: column;
    margin: 0px -156px 0px 90px;
    

}
#services-container h1{
    margin-left: 120px;
    font-size: 40px;
    margin-right: -106px;
}








/* client section  */

#client-section{
    margin-top:724px;
}
#client-section h1{
    margin-left: 120px;
    font-size: 40px;
    margin-right: -106px;
}
#client-section::before{
    width: 182%;
}

#clients{
    /* flex-wrap: wrap; */
    margin-left: 318px;
}
#client-item{
    padding: 27px;
}







/* contact section */
#Contact h1{
    margin-left: 120px;
    font-size: 40px;
    margin-right: -106px;
    
}
#Contact::before{
    width: 182%;
}
#contact-box form {
    width: 92%;
    margin-left: 100px;
}






/* footer  */

footer{
    width: 152%;
}

/* utility classes  */
.h-pimary center{
    margin-left: 177px;
    font-size: 30px;
}